body {
overflow-x: hidden;
font-family: 'Lato', sans-serif;
height: 100%;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.navbar-brand{
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -.5px;
  padding-top: 4px;
  font-weight: bold;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.2);
  /* gradient in nav-brand */
  background-image: -webkit-gradient(linear,50% 30%,90% 10%,from(#fff),to(#bdc3c7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .nav-item.active {
  border-left: white 1px solid;
}
.h1-style{
  font-size: 2.5rem;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* Carousel */
/* .show and hide is for fade in effect of carousel */
.show {
  opacity: 1;
  transition: opacity 2000ms;
}

.hide {
  opacity: 0;
}

.carousel-item {
  height: 450px;
  transition: transform 1.5s ease, opacity .4s ease-out
}

.carousel-image-1 {
  background: url('../img/image1.jpg');
  background-position: 60% 90%;
  background-size: cover;

}

.carousel-image-2 {
  background: url('../img/image2.jpg');
  background-size: cover;
  background-position: center;


}

.carousel-image-3 {
  background: url('../img/image3.jpg');
  background-position: 30% 40%;
  background-size: cover;

}
/* first banner */
#home-heading {
  position: relative;
  min-height: 210px;
  background: url('../img/flower.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 30%;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* Reward button */
#overlay {
    display:block;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:#000;
    z-index:99999;

}
#popup {
    display:none;
    position:fixed;
    left:20%;
    top:30%;
    min-width: 270px;
    width: 70%;
    height: 250px;
    min-height: 250px;
    margin:-25px -25px 0 0;
    background:#FFFFFF;
    box-shadow: 10px 12px 0.6rem rgba(0,0,0,0.7);
    border:2px solid #000;
    z-index:100000;
    transform: scale(1.1);

}

/* video banner */
#video-play {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30 -350px;
  text-align: center;
  color: #fff;
}


/* nail img */
.nail-size {
  height: 350px;
  width: 100%;
}
#video-play a {
  color: #fff;
}




/* footer */
.footer-img{
  width: 100%;
  height: 100%;
}

#main-footer {
  background: url(../img/footer-bg.jpg);
  background-position: top;  
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

}


.about-img {
  margin-top: -50px;
  height: 500px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

/* Contact Page */
#page-header {
  height: 200px;
  background: url('../img/contact-img-header.jpeg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border-bottom: 1px #eee solid;
}
.card-height{
  height: 100%;
}
.dark{
    background: linear-gradient(rgba(0, 0, 0, .10), rgba(0, 0, 0, 0.55));
    height: 100%;
    min-width: 100%;
}
#map{
  min-height: 450px;

}

.contact-icon{
  font-size: 2rem;
  text-shadow: 1px 2px 1px #ccc;

}
#card-100{
  height: 100%;
}
/* About pg*/
#page-header2 {
  height: 200px;
  background: url('https://images.unsplash.com/photo-1524010246915-297e8bb735e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border-bottom: 1px #eee solid;
}



.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel1 {
  margin: 10px auto;
  padding: 0 70px;
}
.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel1 .item .img-box {
  width: 135px;
  height: 165px;
  margin: 0 auto;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 10%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview { 
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #d8627a;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel-indicators li { 
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {  
  background: #555;   
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}