body {
  overflow-x: hidden;
font-family: 'Lato', sans-serif;

}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.navbar-brand{
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -.5px;
  padding-top: 4px;
  font-weight: bold;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.2);
  /* gradient in nav-brand */
  background-image: -webkit-gradient(linear,50% 30%,90% 10%,from(#fff),to(#bdc3c7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .nav-item.active {
  border-left: white 1px solid;
}
.h1-style{
  font-size: 2.5rem;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* Carousel */
/* .show and hide is for fade in effect of carousel */
.show {
  opacity: 1;
  transition: opacity 2000ms;
}

.hide {
  opacity: 0;
}

.carousel-item {
  height: 450px;
  transition: transform 1.5s ease, opacity .4s ease-out
}

.carousel-image-1 {
  background: url('../img/image1.jpg');
  background-position: 60% 90%;
  background-size: cover;

}

.carousel-image-2 {
  background: url('../img/image2.jpg');
  background-size: cover;
  background-position: center;


}

.carousel-image-3 {
  background: url('../img/image3.jpg');
  background-position: 30% 40%;
  background-size: cover;

}
/* first banner */
#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../img/flower.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 30%;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* Reward button */
#overlay {
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.7;
    z-index:99999;
}
#popup {
    display:none;
    position:fixed;
    left:10%;
    top:30%;
    min-width: 362px;
    width: 70%;
    height: 250px;
    min-height: 250px;
    margin:-25px -25px 0 0;
    background:#FFFFFF;
    box-shadow: 10px 12px 0.6rem rgba(0,0,0,0.7);
    border:2px solid #000;
    z-index:100000;
    transform: scale(1.1);

}

/* video banner */
#video-play {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30 -350px;
  text-align: center;
  color: #fff;
}


/* nail img */
.nail-size {
  height: 350px;
  width: 100%;
}
#video-play a {
  color: #fff;
}




/* footer */
.footer-img{
  width: 80%;
}

#main-footer {
  background: url(../img/footer-bg.jpg);
  opacity: .89;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}


.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

/* Contact Page */
#page-header {
  height: 200px;
  background: url('../img/contact-img-header.jpeg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border-bottom: 1px #eee solid;
}
.dark{
    background: linear-gradient(rgba(0, 0, 0, .10), rgba(0, 0, 0, 0.55));
    height: 100%;
    min-width: 100%;
}
